<div class="app-wrapper">
  <header class="header-container">
    <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="logo" width="200px">
  </header>
  <nav class="nav-container">
    <a class="button" routerLink="/" routerLinkActive="activebutton"
       [routerLinkActiveOptions]="{ exact: true }">Profile</a>
    <a class="button" routerLink="/dialogs" routerLinkActive="activebutton">Messages</a>
    <a class="button" routerLink="/news" routerLinkActive="activebutton">News</a>
    <a class="button" routerLink="/music" routerLinkActive="activebutton">Music</a>
    <a class="button" routerLink="/setting" routerLinkActive="activebutton">Setting</a>
  </nav>
  <div class="app-wrapper-content">
    <router-outlet></router-outlet>
  </div>

</div>
